<afe-loading [show]="(loading > 0)"></afe-loading>
<afe-error-msg [(msg)]="errorMsg"></afe-error-msg>
<div class="hero-card">
  <afe-card [title]="titleHero">
    <afe-hero-card [hero]="hero$ | async"></afe-hero-card>
  </afe-card>
</div>
<div class="hero-details">
  <div class="hero-comics">
      <afe-card [title]="titleComics">
          <afe-table
          [tableConfig]="configElements"
          [tableData]="comics$ | async"
          (pagTable)="newPage('comics', $event)"
          ></afe-table>
      </afe-card>
  </div>
  <div class="hero-stories">
      <afe-card [title]="titleStories">
          <afe-table
          [tableConfig]="configElements"
          [tableData]="stories$ | async"
          (pagTable)="newPage('stories', $event)"
          ></afe-table>
      </afe-card>
  </div>
</div>
